.contact_section_container {
   width: 100vw;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   background: white;
}

.contact_section_container_card {
   width: 70rem;
   height: 40rem;
   padding: 10px;
   border-radius: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;

}

.contact_section_information {
   width: 40%;
   height: 100%;
   border-radius: 1rem;
}

.contact_section_form {
   width: 60%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
}
.contact_section_information_head{
   width: 100%;
   height: 10%;
   display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}
.contact_section_information_head h1{
   font-size: 1.7rem;
   font-weight: 600;
   margin-right: auto;
}
.contact_section_information_head p{
   font-size: 1rem;
   margin-right: auto;
}
.contact_section_information_details{
   margin-top: 100px;
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
   gap: 3rem;
}

.contact_section_information_details_ph,
.contact_section_information_details_mail,
.contact_section_information_details_add{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content:flex-start;
   gap: 20px;
}
.basic_information_input {
   width: 100%;
   height: fit-content;
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contact_section_container {
   width: 100vw;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   background: white;
}

.contact_section_container_card {
   width: 70rem;
   height: 40rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   padding: 10px;
   border-radius: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;

}

.contact_section_information {
   width: 40%;
   height: 100%;
   border-radius: 1rem;
   background-color: black;
   padding: 2.5rem;
}

.contact_section_form {
   width: 60%;
   height: 100%;
}

.basic_information_input {
   width: 100%;
   height: fit-content;
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: center;
}

.basic_information_input input {
   width: 300px;
   margin: 10px;
   height: 5rem;
   font-size: 2rem;
   color: black;
   padding-left: 1rem;
   border-bottom: 1px solid rgb(0, 0, 0);
}

.basic_information_input input {
   width: 300px;
   margin: 10px;
   height: 5rem;
   font-size: 2rem;
   color: black;
   padding-left: 1rem;
   border-bottom: 1px solid rgb(0, 0, 0);
}

.message_section {
   width: 100%;
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
   color: black;
   padding: 30px;
}

.message_section h1 {
   font-size: 1.4rem;
   color: black;
   font-weight: 600;
   margin-right: auto;
}

.message_input {
   width: 100%;
   height: 4rem;
   font-size: 1.3rem;
   color: black;
   padding-left: 1rem;
   margin: auto;
   border-bottom: 1px solid rgb(0, 0, 0);
}

.send_message_button {
   font-weight: 900;
   padding: 15px 50px;
}

.send_message_button_extra {
   border-radius: 10px;
   background: black;
   color: white;
   margin: 50px 0 0 auto;
}