.navbar_container {
  width: 100%;
  height: fit-content;
  top: 0;
}

.uppernavbar {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactbar_container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  background: #28353D;
}

.nav_links_active {
  color: white;
  font-weight: 900;
}

.nav_links_normal {
  color: #C6CDD5;
}

.contactbar_container_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navlinks_container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}