.loading_container {
   width: 100vw;
   height: 100vh;
   position: fixed;
   background-color: rgb(0, 0, 0);
   z-index: 1000;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loading_container img {
   width: auto;
   height: auto;
}